/* Général ------------------------------------------------------------------------------------- */
body, p, legend, label, input {
	font: normal 8pt verdana, helvetica, sans-serif;
}

/* Forms --------------------------------------------------------------------------------------- */
fieldset {
	padding: 10px;
	border: 1px #0080ff solid;
	margin: 10px;
}

legend {
	font-weight: bold;
	color: #0568CD;
}

form label {
	float: left;
	width: 200px;
	margin: 3px 0px 0px 0px;
}

form input {
	margin: 3px 3px 0px 0px;
	border: 1px #999 solid;
}

form input.sansLabel {
	margin-left: 200px;
}

.info {
	font-style: italic;
	color: #E8A22B;
}

textarea
{
	width:auto;
	height:200px;
}

/* Styles et couleurs -------------------------------------------------------------------------- */

.home {
    color: #ff8000;
    font-size : 14px;
}

.requis {
	color: #c00;
	
}

.erreur {
	color: #900;
}

.succes {
	color: #090;
}

.info {
	font-style: italic;
	color: #E8A22B;
}

.erreurjs {
	border: 1px solid #8000ff;
	padding: 10px;
	margin: 10px;
	color: #8000ff;
}

.erreurjs legend {
	color: #8000ff;
}

li[color="red"] {
	color: red;
}

li[color="green"] {
	color: green;
}

div[color="red"] {
	color: red;
}

div[color="green"] {
	color: green;
}
/* Blocs constituants -------------------------------------------------------------------------- */
div#menu {
	border: 1px solid #c0c0c0;
	padding: 10px;
	margin: 10px;
}

div#corps {
	border: 1px solid #008080;
    padding: 10px;
    margin: 10px;
}

div#footer {
	border: 1px solid #008000;
	padding: 10px;
	margin: 10px;
}

div#header {
	border: 1px solid #008000;
	padding: 10px;
	margin: 10px;
	text-align: right;
}

/* Images -------------------------------------------------------------------------- */
img[title="deconnexion"] {
	border: 1px solid #400040;
	width: 30px;
	height: 30px;
	float: right;
}

img[title="supprimer"] {
    width: 30px;
    height: 30px;
    float: right;
}

img.imageprofil {
	height: 100px;
	width: auto;
}

/* tableau -------------------------------------------------------------------------- */
table {
	border-collapse: collapse;
}

td, th, caption {
	border: 1px solid black;
}

caption {
	color: blue;
	font-weight: bold;
	font: normal 10pt verdana, helvetica, sans-serif;
	

}

td, th {
	font: normal 8pt verdana, helvetica, sans-serif;
	width:50%;
}

/* bouton -------------------------------------------------------------------------- */
.supprimer {
	text-align: center;
}